<%- include('../layout/admin-header') %>

<header>
    <%- include('../layout/admin-head') %>
</header>

<div class="wrapper">
    <!-- Page Content -->
        <div id="content">
            
        </div>
    
</div>

<%- include('../layout/admin-footer') %>