/*
 *
 * Hoja de estilos para Somnia CMS Frontend
 * Autor: Gerardo Méndez - 20111013326
 *
 */

html, body { margin: 0; padding: 0; background-color: #F9F9F9; font-family: 'Lato', sans-serif !important; }

.footer-style {
    height: auto;
}

.responsive-img { width: 100%; height: auto; }
.logo-head { width: 25%; }
@media screen and (max-width: 767px) { .logo-head { width: 50%; } }
.logo-head img { width: 50%; }
@media screen and (max-width: 1400px) { .logo-head img { width: 60%; } }
@media screen and (max-width: 1200px) { .logo-head img { width: 70%; } }
@media screen and (max-width: 991px) { .logo-head img { width: 90%; } }
@media screen and (max-width: 767px) { .logo-head img { width: 70%; } }
.logo-footer img { width: 130px; }

.contact-icons { font-size: 1.5rem; }
.mapouter{ position:relative; text-align:right; height:500px; width:100%; }
.gmap_canvas { overflow:hidden; background:none!important; height:500px; width:100%; }

.msg-hidden { display: none; }
.msg-show { display: block; }

#carouselCaptions {
    border: 1px solid #DDD;
    background: #F9F9F9;
    border-radius: 10px;
}

.promo-banner {
    background: #DDDDDD;
}

.functions-text { font-size: 1.5rem; font-weight: bold; }
.functions-text i { color: #17a2b8; }

/* Admin */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    background: #17a2b8;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #17a2b8;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #17a2b8;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: white;
}
#sidebar ul li a:hover {
    color: #17a2b8;
    background: #fff;
    text-decoration: none;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #17a2b8;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #17a2b8;
}