<%- include('../layout/header') %>

<header>
    <%- include('../layout/head') %>
</header>

<div class="container-fluid py-0 px-0">
    
    <div class="col-12 text center">

        <div class="jumbotron my-5">
            <h1 class="display-4">Documentación</h1>
                    <p class="lead">Documentación de Somnia CMS.</p>
                    <hr class="my-4">
                    <p>A long time ago in a galaxy far, far away...</p>
        </div>

    </div>

</div>

<%- include('../layout/footer') %>